@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-appweb-1 { background-color: #5C6AC4; }
.bg-appweb-2 { background-color: #848CDC; }
.bg-appweb-3 { background-color: #232B61; }
.bg-appweb-4 { background-color: #6973B8; }
.bg-appweb-5 { background-color: #AFB3D2; }
